@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --color-secondary: #4F4F4F;
  --color-primary: #F0941F;
  --color-dark_text: #4F4F4F;
  --color-light_text: #FFFFFF;

  --color-light_background: #C4C4C4;
  --color-dark_background: rgba(217,217,217,.15);

  --font-family: 'Montserrat', sans-serif;
}


